.jobList {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  /* margin-top: 80px; */
}

.jobItem {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 85rem;
  background-color: #fff;
}


.jobDetails {
  display: flex;
  column-gap: 30px;
}

.stack {
  display: flex;
}